VITE_API_URL=https://api.openweathermap.org/data/2.5
VITE_API_KEY=13df853e766e8874cb889645c897e405

# firbase
VITE_FIREBASE_API_KEY=AIzaSyD7yQozjZqLPCmaM1Ledf0NVGSlJdOGdjg
VITE_AUTH_DOMAIN=localhost
VITE_PROJECT_ID=weather-test-aa733
VITE_STORAGE_BUCKET=weather-test-aa733.appspot.com
VITE_MESSAGING_SENDER_ID=555959907235
VITE_APP_ID=1:555959907235:web:fc2f1ddece0c66790e6016
